
body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

.header{
  max-height: 300px;
}

.top-navigation{
  display: inline-block;
  text-align: right;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  margin: 50px;
}

h1{
  width: 300px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.aboutimg{
  height: 600px;
  width: 900px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 350px;
  transform: translate(-50%, -50%);
}

.navbutton{
  border-radius: 50%;
  border: 1px solid #fff;
  width: 10px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}