body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

.header{
  max-height: 300px;
}

.top-navigation{
  display: inline-block;
  text-align: right;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  margin: 50px;
}